nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px;
    padding: 25px 30px;
    border-bottom: 1px solid gray;
}
.logoTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}
.logoTitle img{
    max-width: 65px;
}

.navLinks {
    display: flex;
    align-items: center;
    gap: 10px;
}
.links{
    color: rgb(78, 78, 192);
    text-decoration: none;
}
.links:hover{
    text-decoration: underline;
    cursor: pointer;
}
.links:focus {
    text-decoration: underline;
}